/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

.bug {
  border: 2px solid red;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 0.9rem;
}
